    <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Foundation</th>
            <th scope="col">Players List</th>
            <th scope="col">Action</th>
          
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of teamsTab">
              <td>{{team._id}}</td>
              <td>{{team.name}}</td>
              <td>{{team.owner}}</td>
              <td>{{team.foundation}}</td>
              <td>
                <span *ngFor="let elt of team.players">
                 {{elt.name}}::
                 {{elt.number}}
                 {{elt.position}}::
                 {{elt.age}}::
                </span>
                </td>
              <td>
                <button type="button" class="btn btn-success" (click)="goToInfo(team._id)">Display</button>
                <button type="button" class="btn btn-warning" (click)="goToEdit(team._id)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteTeam(team._id)">Delete</button>

               </td>
            </tr>
           
        </tbody>
      </table>
